.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: blueviolet;
  padding: 30px;
}


form{
  margin: 25px;
}

form label{
  display: inline-block;
  width: 150px;
}



.resultLbl{
  width: auto;
}